<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Home</title>
	<style>
		.Content {
			display: flex;
			text-align: center;
			justify-content: center;
			align-items: center;
		}
	</style>
</head>

<body style="font-size: 32px;background-image: url('https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80'); ">
	<div class="Content">
		<div style="color:lime ; font-style:normal ;">
			<h1>Welcome To Home</h1>
		</div><br><br><br>
	</div>
	<br><br>
	<div style="display: flex;justify-content: center;">
		<table>
			<tr>
				<td>
					<button
						style="background-color: rgb(255, 255, 128);font-weight: bold; font-size: 27px;color: aliceblue; border-radius: 7px;">
						<a style="text-decoration: none;" href="/register">SignUp</a>
					</button>
				</td>
				<td></td>
				<td>
					<button
						style="background-color: rgb(128, 255, 128);font-weight: bold; font-size: 27px;color: aliceblue; border-radius: 7px;">
						<a style="text-decoration: none;" href="/signin">SignIn</a>
					</button>
				</td>
			</tr>
		</table>
	</div>
</body>

</html>