<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Register</title>
</head>
<body>
<body style="font-size: 26px;">
<center>
	<fieldset style="border: 5px solid green; width: 550px;border-radius: 5px;background-image: url('https://images.unsplash.com/photo-1493723843671-1d655e66ac1c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmVnaXN0cmF0aW9uJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60'); ">
		<legend style="text-align: center;">User Registration Form</legend>
		
			<form action="./createUser" method="post">
				<table>
					<tr>
					<!--<td><label for="userId">User ID :</label></td>
    					<td><input type="number" id="userId" name="userId" required></td> -->
					</tr>
					
					<tr>
						<td><label for="userName">User Name </label></td>
						<td> :</td>
						<td><input style="border:3px solid darkgreen; border-radius: 6px; font-size: 20px; hight: 50px; width: 250px;" type="text" id="userName" name="userName" required>
					</tr>
					
					<tr>
						<td><label for="userEmail">User Email </label></td>
						<td> :</td>
						<td><input style="border:3px solid darkgreen; border-radius: 6px; font-size: 20px; hight: 50px; width: 250px;" type="email" id="userEmail" name="userEmail" required>
					</tr>
					<tr>
						<td><label for="userRole">User Role </label></td>
						<td> :</td>
						<td><input style="border:3px solid darkgreen; border-radius: 6px; font-size: 20px; hight: 50px; width: 250px;" type="text" id="userRole" name="userRole" required>
					</tr>
					<tr>
						<td><label for="password">Password </label></td>
						<td> :</td>
						<td><input style="border:3px solid darkgreen; border-radius: 6px; font-size: 20px; hight: 50px; width: 250px;" type="password" id="password" name="password" required>
					</tr>
				</table>
				<br>
				<center><input style="color:black ; font-weight: bold; font-size: 25px; hight: 60px; background-color: blanchedalmond; color:black ; border-radius:rgb(0, 0, 64); width: 280px;"  type="submit" value="REGISTER"></center>
			</form>
		</center>
	</fieldset>
</body>
</body>
</html>