<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Successs</title>
	<style>
		.Content {
			display: flex;
			text-align: center;
			justify-content: center;
			align-items: center;
		}
	</style>
</head>

<body style="font-size: 35px;">
	<div class="Content">
		<div style="color: green; font-style: oblique;">
			<h1> Registered Successfully</h1>
			<h2 style="color: orange;">Thank You</h2>
		</div>
	</div>
	<div style="display: flex;justify-content: center;">
		<table>
			<tr>
				<td>
					<button
						style="background-color: rgb(255, 255, 0); font-size: 25px;color: aliceblue; border-radius: 7px;">
						<a style="text-decoration: none;" href="/register">Register Another</a>
					</button>
				</td>
				<td></td>
				<td></td>
				<td>
					<button
						style="background-color: rgb(58, 222, 58); font-size: 25px;color: aliceblue; border-radius: 7px;">
						<a style="text-decoration: none;" href="/signin">Signin</a>
					</button>
				</td>
			</tr>
		</table>
	</div>
</body>

</html>