<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<style>
		/* Set the video container to cover the entire viewport */
		#video-container {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}

		/* Set the video to be full-width and auto height */
		video {
			width: 100%;
			height: auto;
		}

		.content {
			position: absolute;
			top: 60%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: orange;
			font-size: 20px;
			font-weight: bold;
			border-radius: 10px;
		}
	</style>
	<!-- background-image: url('https://media.istockphoto.com/id/1416019888/photo/digitally-generated-currency-and-exchange-stock-chart-for-finance-and-economy-based-computer.webp?b=1&s=170667a&w=0&k=20&c=KCPj9O-r6nlwMWvlQD_VBbHKRWByy8OvmLjNk1xMwX8=');background-repeat: no-repeat; background-attachment:inherit; background-size: cover; -->
</head>

<body>
	<nav>
		<span><button class="transparent-textfield"><a href="./">Home</a></button></span>
		<span><button class="transparent-textfield"><a href="#">About</a></button></span>
		<span><button class="transparent-textfield"><a href="#">Services</a></button></span>
		<span><button class="transparent-textfield"><a href="#">Contact Us</a></button></span>
		<span><button class="transparent-textfield"><a href="./adminRegister">Sign Up</a></button></span>
		<span><button class="transparent-textfield"><a href="./signin">Login</a></button></span><span>
	</nav>

	<div id="video-container">
		<video autoplay loop muted>
			<source
				src=" https://media.istockphoto.com/id/1443173223/video/4k-waves-background-video-footage.mp4?s=mp4-640x640-is&k=20&c=9-TNH_VwR5PIfSuNNv8wbNW5Dh5KrfrmwO42s0e-CfY=">
		</video>
	</div>
	<div class="content"
		style="background-image: url('https://img.freepik.com/free-vector/cerulean-blue-curve-frame-template-vector_53876-136094.jpg?w=360&t=st=1691555864~exp=1691556464~hmac=8d635a9f0db99902532d39aaf026e8ec6eea7124c517cdb3b32af28f04c49a35'); height: 500px; width: 900px; color: blue; font-size: 20px; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; display: flex; justify-content: center;">
		<table style="left: 20px;">
			<tr>
				<td></td>
				<td>Profile Information</td>
				<td></td>
			</tr>

			<tr>
				<td>Employee ID :</td>
				<td>[[${employee.employeeId}]]</td>
			</tr>
			<tr>
				<td>Employee Name :</td>
				<td>[[${employee.employeeName}]]</td>
			</tr>


			<tr>
				<td>Employee Email :</td>
				<td>[[${employee.employeeEmail}]]</td>
			</tr>
			<tr>
				<td>Employee Location :</td>
				<td>[[${employee.employeeLocation}]]</td>
			</tr>
			<tr>
				<td>Employee Role :</td>
				<td>[[${employee.employeeRole}]]</td>
			</tr>
		</table>
</body>

</html>