<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>

<style>
a {
  color: cornflowerblue;
  text-decoration: none;
}
a:hover {
  background-color: orange;
  border-radius: 10px
}
.transparent-textfield {
	background: transparent;
	border: 2px solid orange;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	margin-right: 5px;
}

</style>
</head>
	<body style="background-image: url('https://technoelevate.com/assets/images/photos(Revised)/Logo%20for%20website%20TY%20transp%20bg%20(small%20file)-15%20(1)-updated.png'); background-attachment: fixed; background-repeat: no-repeat; background-size: 100%;">
  <nav>
        <span><button class="transparent-textfield" ><a href="./">Home</a></button></span>
        <span><button class="transparent-textfield"  ><a href="#">About</a></button></span>
        <span><button class="transparent-textfield" ><a href="#">Services</a></button></span>
        <span><button class="transparent-textfield" ><a href="#">Contact Us</a></button></span>
        <span><button class="transparent-textfield"  ><a href="./register">Sign Up</a></button></span>
        <span><button class="transparent-textfield"  ><a href="./signin">Login</a></button></span><span>
   </nav>
</body>
</html>